.dropdown-menu.show {
    display: block;
}
h1.header {
    margin-right: 974px;
    font-size: 23px;
    color: #666666;
    font-weight: 600;
}
.vertical {
    background-color: #dee2e6;
    height: 25px;
    width: 2px;
    margin-top: 6px;
}
body a {
    color: #007ad9;
    text-decoration: none;
    font-weight: 600;
}
// .main-container.container-fluid {
//     height: 965px;
//     background-color: #f1f3f6;
//     width: 90%;
//     margin-left: -14px;
//     position: fixed;
// }
.main-container {
    height: 965px;
    background-color: #f1f3f6;
    width: 90%;
    margin-left: -14px;
    position: absolute;
}
.container-fluid {
    width: 98%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pannel {
    position: relative;
    background-color: white;
    height: 80px;
    width: 99%;
    margin-top: 40px;
    margin-left: 6px;
}
button.btn.btn-default.dropdown-toggle {
    background-color: white;
    color: #0e6ed6;
    font-weight: 500;
    border: none;

    font-weight: 600;
}
ul.nav.justify-content-end {
    padding: 8px 0px;
}
ul.nav.justify-content-end.items {
    font-weight: 600;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

li.test{
	float:left !important;
}
