<!-- <div [@routerTransition]>
    <app-page-header [heading]="'Settings'" [icon]="'fa fa-cog'"></app-page-header>
<nav class="navbar navbar-default">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;">
    <i class="fa fa-file-o"></i> Manage Organizations &amp; Users
    </a>
    <div class="dropdown-menu">
    <a class="dropdown-item" routerLink='/doc'>All Documents</a>
    <a class="dropdown-item" routerLink="/design">Designations</a>
    </div>
    </nav> -->


    <ul class="nav justify-content-end items">
        <!-- <h1 class="header">SETTINGS</h1> -->
        <li class="test"> <h1 class="header test" style="margin-right: 0px !important;">SETTINGS</h1></li>
        <li class="nav-item">

         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle flipInX" type="button" data-toggle="dropdown" data-hover="dropdown"  data-animations="flipInX fadeInLeft fadeInUp fadeInRight">
                    <i class="fa fa-file-o"></i> Manage Organizations & Users <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li></li><a routerLink='/doc'>Document Type</a>
              <li><a routerLink="/design">Designations</a></li>
              <li><a routerLink="/location">Location</a></li>
              <li><a routerLink="/department">Department</a></li>
              <li><a routerLink="/user">Users</a></li>
              </ul>
              </div>

         </li>


         <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-plus"></i>Create Project</a>
        </li>
        <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Time Sheets</a>
        </li>
        <div class="vertical">

        </div>
        <li class="nav-item">
        <a class="nav-link " href="#"><i class="fa fa-edit" aria-hidden="true"></i>Edit Projects</a>
        </li>
        </ul>
      <div class="main-container container-fluid">
          <div class="pannel zoomIn">

          </div>

      </div>






