        <h2 class="head">SEARCH RESULTS</h2>
        <div class="overall-container">

        <div class="maincontainer zoomIn">
            <div class="maincard">
                <div class="firstcard">
                        <div class="hor-line">

                            </div>
                    <div class="img">
                            <img class="img-circle m-b" src="http://qa.zoomteams.com/images/d358cf33-8ad8-4776-a371-0c24e41932df.jpeg">
                    </div>
                    <div class="title">
                            <span class="location">{{memberArr.locationName}}</span>
                         <h4 class="name">{{memberArr.fullName}}</h4>
                        <span class="desig">{{memberArr.designation}}</span>
                        </div>
                </div>
                <div class="vertical-line-0">


                    </div>
                <div class="secondcard">
                    <div class="department">
                        <span>Department</span>
                        <span class="mang">Manager</span><br/>
                            <span class="dep">{{memberArr.departmentName}}</span>
                    </div>

                    </div>


                    <div class="manager">

                        <div class="workphone">
                                <div class="vertical-line">

                                    </div>

                     <span class="whead">Work Phone</span><br>
                     <span class="wphone">{{memberArr.workPhone}}</span>
                        </div>
                        <div class="workext">
                                <div class="vertical-line">

                                    </div>
                            <span class="ehead">Extn</span><br>
                     <span class="ephoneext">{{memberArr.workPhoneExt}}</span>
                        </div>

                    </div>



            </div>

        </div>
        </div>
